html {
	height: 100%;
}

body {
	height: 100%;
	background-image: url("/images/bg.gif");
}

main {
	height: 80%;
html {
	height: 100%;
}

body {
	height: 100%;
	background-image: url("/images/bg.gif");
}

main {
	height: 85%;
}

footer {
	max-height: 10%;

	margin: 0;

	position: absolute;
	
	left: 0;
	right: 0;
	bottom: 1%;
}
}

footer {
	max-height: 10%;

	margin: 0;

	position: absolute;
	
	left: 0;
	right: 0;
	bottom: 0;
}
