{{ define "main" }}
	<main>
		<article>
		<div class="window" style="margin-left: 16%; margin-top: 1%; margin-right: 1%;">
			<div class="title-bar">
				<div class="title-bar-text">View Post</div>
				<div class="title-bar-controls">
					<button aria-label="Minimize">
					<button aria-label="Maximize">
					<button aria-label="Close">
				</div>
			</div>

			<ul class="tree-view">
				<p style="font-size: 1.5em"><strong>{{ .Title }}</strong></p>
				<p>Posted at <em><time>{{ .Date }}</time></em></p>
				<div>
					{{ .Content }}
				</div>
				{{ with .Params.tags }}
				<div>
					<ul id="tags">
						{{ range . }}
						<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
						{{ end }}
					</ul>
				</div>
				{{ end }}
			</ul>
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
