<article>
	<div class="window" style="margin-left: 18%; margin-top: 1%; margin-right: 5%;">
		<div class="title-bar">
			<div class="title-bar-text"> {{ .Title }} - Notepad </div>
			<div class="title-bar-controls">
				<button aria-label="Minimize">
				<button aria-label="Maximize">
				<button aria-label="Close">
			</div>
		</div>
		
		<ul class="tree-view">
			<p style="font-size: 1.75em">
				<strong><a href="{{ .Permalink }}">{{ .Title }} </a></strong>
			</p>
			<p>
				Posted on: <em><time>{{ .Date }}</time></em>
			</p>
			{{ range .Params.tags }}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
			<div>
				{{ .Summary }}
				{{ if .Truncated }}
					<a href="{{ .Permalink }}">Read more...</a>
				{{ end }}
			</div>
		</ul>
	</div>
</article>
