{{ $footer_images_dir := .Param "footer_images_dir" }}
<footer>
	<div class="window" style="width: 70%; margin: auto; margin-top: 1%; margin-bottom: 0">
		<div class="title-bar">
			<div class="title-bar-text">Footer</div>
			<div class="title-bar-controls">
				<button aria-label="Minimize"></button>
				<button aria-label="Maximize"></button>
				<button aria-label="Close"></button>
			</div>
		</div>
		<div class="boxes">
			<!-- Custom Footer Content Goes Here -->
			{{ if $footer_images_dir }}
				<div style="text-align: center">
				{{ range (readDir "static/images/footer") }}
					<img src='/images/footer/{{ .Name }}'>
				{{ end }}
				</div>
			{{ end }}
		</div>
		<div style="margin: auto; width: 20%">
			&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
		</div>
	</div>
</footer>
