<header>
	<link rel="stylesheet" href="/css/98.css">
	<aside>
		<div class="sidebar">
			<style>
				.sidebar {
					height: 80%;
					width:  15%;
					top: 2%;
					left: 1%;
					z-index: 1;
					position: fixed;
				}
			</style>
			<div class="window">
				<div class="title-bar">
					<div class="title-bar-text">Navigation</div>
				</div>
				<ul class="tree-view">
					<li>
						<a href="{{ .Site.Home.RelPermalink }}">Home</a>
					</li>
					<!-- Sidebar Content Goes Here -->
					{{ with .Site.Menus.main }}
					{{ range . }}
						<li>
							<a href="{{ .URL | relURL }}"> {{ .Name }} </a>
						</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</aside>
</header>
{{ end }}
