<!--
<aside>
	<div class="sidebar">
		<style>
			.sidebar {
				height: 80%;
				width:  15%;
				top: 2%;
				left: 1%;
				z-index: 1;
				position: fixed;
			}

		</style>
		<div class="window">
			<div class="title-bar">
				<div class="title-bar-text">{{ .Title }}</div>
				<div class="title-bar-controls">
					<button aria-label="Minimize">
					<button aria-label="Maximize">
					<button aria-label="Close">
				</div>
			</div>

			<ul class="tree-view">
	</div>
</aside>
-->
