{{ define "main" }}
	<main>
		{{ $content := .Content }}
		{{ if $content }}
		<div class="window" style="margin-left: 10%; margin-top: 1%; margin-right: 1%;">
			<div class="title-bar">
				<div class="title-bar-text"> {{ index (.Site.Params.mainSections) 0 }} </div>
				<div class="title-bar-controls">
					<button aria-label="Minimize">
					<button aria-label="Maximize">
					<button aria-label="Close">
				</div>
			</div>

			<ul class="tree-view">
				{{ $content }}
			</ul>
		</div>
		{{ end }}
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
