<!-- args: title content margin width -->
<div class="window" style="margin: {{ index .Params 2 }}; width: {{ index .Params 3 }}">
	<div class="title-bar">
		<div class="title-bar-text">
			{{ index .Params 0 }}
		</div>
		<div class="title-bar-controls">
			<button aria-label="Minimize"></button>
			<button aria-label="Maximize"></button>
			<button aria-label="Close"></button>
		</div>
	</div>
	<div class="window-body">
